* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
 
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header a img {
    width: 120px;
    height: auto;
}


header .navbar a {
    font-size: 2rem;
    padding: 0 2rem;
    color: black;
}

header .icons a {
    font-size: 2.5rem;
    color: gold;
    margin-left: 1.5rem;
}

body {
	background-color: #e8d1a5;
}

.container {
	padding: 12rem;
}

.sliding-container {
	padding: 12rem;
}

.slider-wrapper {
	position: relative;
    margin-left: -120px;
    margin-right: -120px;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	/* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
    height: 590px;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/* Footer */

footer{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #102c57;
    padding: 0rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content img {
   width: 200px;
    height: auto;
}

/* SLIDER CSS  */

.slider{
    width: 1920px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1920px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 55%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

/* button  */

.btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gold;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius:5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.btn:hover {
    background-color: rgb(192, 163, 0);
}


/* section 2  */

.section2{
    position: relative;
    color: gold;
    background-size: cover;
    text-align: center;
    font-style: sans-serif;
    font-size: 45px;
    
}

/* flex boxes */

.flexbox-container{
    display: flex;
    justify-content: space-around;
    
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius:10px;
    text-align: justify;
    font-size: 12px;
    color: black;
}

.flexbox-item-1 {
    width: 400px;
    height: 700px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    
}

.flexbox-item-2 {
    width: 400px;
    height: 700px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.flexbox-item-3 {
    width: 400px;
    height: 700px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.section2 img{
    margin-top:5%;
    margin-bottom:3%;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.flexbox-container p {
    font-family: sans-serif;
    font-size: 20px;
    margin-right:6%;
    margin-left:6%;
}

.flexbox-container h1{
    margin-right:6%;
    margin-left:6%;

    font-size: 20px;
    text-decoration: underline;
}
